name: release
on:
  push:
    branches:
      - master
    paths:
      - VERSION
jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: corepack enable
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
      - run: yarn install
      - run: yarn build
      - run: rm .gitignore
      - run: |
          git config --global user.name 'masarakki'
          git config --global user.email 'masaki182@gmail.com'
      - run: git add .
      - run: git commit -m 'release'
      - run: git tag --force v`cat VERSION`
      - run: git push --tags --force
